body{
	background-image: url("../img/fondo.jpg");
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
	font-family:'Helvetica','Verdana','Monaco',sans-serif !important;
}

html{
	width: 100%;
	height: 100%;

}

.panel{
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgba(0,0,0,0.6);
	border-color: white;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
	color: white;
		font-size: 1.2em;

}
.navbar-inverse .navbar-brand{
		font-size: 1.5em;
		font-weight: bold;

}

.panel-body h1{
	color: white;
	font-weight: bold;
	font-size: 400%;
}

.panel-body h2{
	text-align: justify;
	color: white;
}

.fuente{
	font-family: 'Oswald', sans-serif;

}